
  .main{
    width: 100%;
    height: 100%;
    position: relative;
    background: whitesmoke;
    // overflow-y: hidden;
      .section_1{
        background: #19227c;
        color: #ffffff;
        font-size: 20px;
        height: 150px;
        .well-tool-bar{
            padding-top: 2%;
            .well-spacer{
                flex: 1 1 auto;
            }
            .well-icon {
                padding: 0 14px;
            }
        }

        button{
            margin-right: 5%;
            background: #ffffff;
            mat-icon{
                color: #00004f;
            }
        }

      }

      .section_2{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 90px;

          mat-card{
              width: 85%;
              margin: auto;
              height:90%;
              z-index: 10;
          }

      }
  }