
  .main{
    width: 100%;
    height: 100%;
    position: relative;
    background: whitesmoke;
    // overflow-y: hidden;
      .section_1{
        background: #19227c;
        color: #ffffff;
        font-size: 20px;
        height: 150px;
        .well-tool-bar{
            padding-top: 2%;
            .well-spacer{
                flex: 1 1 auto;
            }
            .well-icon {
                padding: 0 14px;
            }
        }

        button{
            margin-right: 5%;
            background: #ffffff;
            mat-icon{
                color: #00004f;
            }
        }

      }

      .section_2{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 90px;

          .well-content {
              width: 85%;
              margin: auto;
              height:90%;
              z-index: 10;
              overflow: auto;
          }

          ::-webkit-scrollbar {
            width: 6px;
          } 
          ::-webkit-scrollbar-thumb {
            background-color: #524aac;
          }

      }
  }


  .main ,.section_2, .well-content {
        .event-info {
            border-radius: 0;
            border-left: solid 5px #524aac;
            .event-header-image {
                background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
                background-size: cover;
              }
            .description {
                font-size: 16px;
            }
        }

        mat-accordion .banner-view{
          border-radius: 0;
          border-left: solid 5px #524aac;
        }

        .guest-title .download-file-btn{
            position: absolute;
            right: 2%;
            color: #00004f;
        }

        table {
            width: 100%;
            box-shadow: none;
          }
          
          .mat-form-field {
            font-size: 14px;
            width: 100%;
          }
          
          td, th {
            width: 25%;
          }
          
  }
  
  .well-spacer{
    flex: 1 1 auto;
}