
<mat-card matRipple [matRippleColor]="myColor" class="event-card">
    <mat-card-header>
        <!-- <div mat-card-avatar class="event-card-image" [ngStyle] = "{'background-image': 'url(https://material.angular.io/assets/img/examples/shiba1.jpg)'}"></div> -->
        <!-- <div mat-card-avatar class="event-card-image" [style.background-image]="getImageUrl(event) | ImgSecure | async"> -->
        <div mat-card-avatar class="event-card-image">
            <img  mat-card-avatar [attr.src]= "getImageUrl(event) | ImgSecure | async"/>
        </div>
        <mat-card-title>{{event.name}}</mat-card-title>
        <mat-card-subtitle>Scheduled On {{event.scheduledAt | date: 'medium'}}</mat-card-subtitle>
        <div class="event-info">
            <mat-icon matBadge="{{event.totalGuests}}" matBadgeColor="primary">people</mat-icon>
            <div class="created_info"><div>Created On</div><div>{{event.createdAt | date}}</div></div>
        </div>
    </mat-card-header>
</mat-card>
